.link {
  stroke: #000;
  stroke-width: 1.5px;
}

.node {
  fill: #f00;
  stroke: #f00;
  stroke-width: 1.5px;
}
.node:hover {
  fill: #f44;
  stroke: #f44;
  stroke-width: 6.5px;
  cursor: copy;
}

.clicked {
  fill: #999;
  stroke: #999;
  stroke-width: 1.5px;
}

.clicked:hover {
  fill: #999;
  stroke: #999;
  stroke-width: 6.5px;
  cursor: initial;
}

.link {
  stroke: #999;
  stroke-width: 1.5px;
  
}